In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
df_where = pd.read_csv('C1.csv')

In [177]:
df_where.head() #lets see how does the data frame look like

,TERYT,Województwo,Powiat,Gmina,Ogółem zdarzeń rok 2023,Ogółem zdarzeń rok 2024,Pożary rok 2023,Pożary rok 2024,Miejscowe zagrożenia rok 2023,Miejscowe zagrożenia rok 2024,Alarmy fałszywe rok 2023,Alarmy fałszywe rok 2024
0,20101,dolnośląskie,bolesławiecki,Bolesławiec,461,506,91,79,310,366,60,61
1,20102,dolnośląskie,bolesławiecki,Bolesławiec,242,525,68,75,160,427,14,23
2,20103,dolnośląskie,bolesławiecki,Gromadka,161,153,37,66,110,77,14,10
3,20104,dolnośląskie,bolesławiecki,Nowogrodziec,285,370,121,155,148,197,16,18
4,20105,dolnośląskie,bolesławiecki,Osiecznica,124,153,30,41,83,98,11,14

In [174]:
df_where[df_where['Gmina'] == 'Warszawa']

,TERYT,Województwo,Powiat,Gmina,Ogółem zdarzeń rok 2023,Ogółem zdarzeń rok 2024,Pożary rok 2023,Pożary rok 2024,Miejscowe zagrożenia rok 2023,Miejscowe zagrożenia rok 2024,Alarmy fałszywe rok 2023,Alarmy fałszywe rok 2024
1300,146501,mazowieckie,Warszawa,Warszawa,3191,3635,735,784,1815,2252,641,599
1301,146502,mazowieckie,Warszawa,Warszawa,796,1065,150,171,401,632,245,262
1302,146503,mazowieckie,Warszawa,Warszawa,893,1178,168,230,462,651,263,297
1303,146504,mazowieckie,Warszawa,Warszawa,1065,1241,184,219,615,766,266,256
1304,146505,mazowieckie,Warszawa,Warszawa,2157,2441,371,378,1079,1409,707,654
1305,146506,mazowieckie,Warszawa,Warszawa,832,829,159,146,433,509,240,174
1306,146507,mazowieckie,Warszawa,Warszawa,1646,2066,306,320,897,1314,443,432
1307,146508,mazowieckie,Warszawa,Warszawa,859,819,313,220,376,428,170,171
1308,146509,mazowieckie,Warszawa,Warszawa,217,283,62,58,126,184,29,41
1309,146510,mazowieckie,Warszawa,Warszawa,2156,2039,286,344,943,952,927,743
1310,146511,mazowieckie,Warszawa,Warszawa,997,1111,231,241,505,610,261,260
1311,146512,mazowieckie,Warszawa,Warszawa,392,506,73,68,219,301,100,137
1312,146513,mazowieckie,Warszawa,Warszawa,951,1069,155,166,520,605,276,298
1313,146514,mazowieckie,Warszawa,Warszawa,759,928,121,188,491,596,147,144
1314,146515,mazowieckie,Warszawa,Warszawa,152,166,30,31,91,110,31,25
1315,146516,mazowieckie,Warszawa,Warszawa,394,500,54,83,191,286,149,131
1316,146517,mazowieckie,Warszawa,Warszawa,818,814,159,154,376,385,283,275
1317,146518,mazowieckie,Warszawa,Warszawa,1425,1578,261,372,649,790,515,416
1318,146519,mazowieckie,Warszawa,Warszawa,514,578,83,78,290,359,141,141

In [7]:
df_where.pivot_table(index = 'Województwo', values = 'Pożary rok 2024', aggfunc=['min', 'max', 'sum', 'std'])
#basic statistics about fires in each voivodeship

,min,max,sum,std
,Pożary rok 2024,Pożary rok 2024,Pożary rok 2024,Pożary rok 2024
Województwo,,,,
dolnośląskie,6,500,10957,73.497704
kujawsko-pomorskie,4,593,5222,67.613876
lubelskie,0,696,5675,48.662362
lubuskie,0,317,3475,47.087301
mazowieckie,0,784,17318,73.597079
małopolskie,2,453,6849,51.146626
opolskie,0,222,2640,35.497240
podkarpackie,0,307,5078,31.648559
podlaskie,0,349,3187,34.012878
pomorskie,1,1072,5466,101.917529
warmińsko-mazurskie,6,322,3974,36.939226
wielkopolskie,0,294,7688,35.782477
zachodniopomorskie,0,890,5427,85.137100
łódzkie,0,405,6781,50.789991
śląskie,1,734,10196,103.835380
świętokrzyskie,5,307,3697,37.247749

In [8]:
df_where.iloc[df_where['Pożary rok 2024'].idxmax()] #lets see where did fires happen the most

TERYT                               226101
Województwo                      pomorskie
Powiat                              Gdańsk
Gmina                               Gdańsk
Ogółem zdarzeń rok 2023               4861
Ogółem zdarzeń rok 2024               5243
Pożary rok 2023                       1135
Pożary rok 2024                       1072
Miejscowe zagrożenia rok 2023         3178
Miejscowe zagrożenia rok 2024         3552
Alarmy fałszywe rok 2023               548
Alarmy fałszywe rok 2024               619
Name: 1796, dtype: object

In [9]:
df_area = pd.read_excel('Wykaz_powierzchni.xlsx')

In [10]:
df_area

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Krajowy Wykaz Powierzchni Jednostek Podziału T...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,TERYT,Nazwa jednostki,Powierzchnia [ha]\n2024,Powierzchnia [km2]\n2024
3,00,POLSKA,31393361,313933
4,02,WOJ. DOLNOŚLĄSKIE,1994704,19947
...,...,...,...,...
4321,32 61 01 1,M. Koszalin,10557,106
4322,32 62,Powiat m. Szczecin,30062,301
4323,32 62 01 1,M. Szczecin,30062,301
4324,32 63,Powiat m. Świnoujście,20207,202
4325,32 63 01 1,M. Świnoujście,20207,202

In [11]:
#we see that the data is not formated rightly, so let's repair that

In [12]:
header = df_area.iloc[2] #proper header

In [13]:
header

Unnamed: 0                       TERYT
Unnamed: 1             Nazwa jednostki
Unnamed: 2     Powierzchnia [ha]\n2024
Unnamed: 3    Powierzchnia [km2]\n2024
Name: 2, dtype: object

In [14]:
df_area = df_area.iloc[3:].copy()

In [15]:
df_area.columns = header

In [83]:
df_area.head(33)

2,TERYT,Nazwa jednostki,Powierzchnia [ha]\n2024,Powierzchnia [km2]\n2024
3,00,POLSKA,31393361,313933
4,02,WOJ. DOLNOŚLĄSKIE,1994704,19947
5,02 01,Powiat bolesławiecki,130349,1303
6,02 01 01 1,Bolesławiec,2285,23
7,02 01 02 2,Bolesławiec,28911,289
8,02 01 03 2,Gromadka,26776,268
9,02 01 04 3,Nowogrodziec,17661,176
10,02 01 04 4,Nowogrodziec - miasto,1610,16
11,02 01 04 5,Nowogrodziec - obszar wiejski,16051,160
12,02 01 05 2,Osiecznica,43668,437
13,02 01 06 2,Warta Bolesławiecka,11048,110
14,02 02,Powiat dzierżoniowski,47851,479
15,02 02 01 1,Bielawa,3621,36
16,02 02 02 1,Dzierżoniów,2007,20
17,02 02 03 3,Pieszyce,6361,64
18,02 02 03 4,Pieszyce-miasto,1772,18
19,02 02 03 5,Pieszyce-obszar wiejski,4589,46
20,02 02 04 1,Piława Górna,2093,21
21,02 02 05 2,Dzierżoniów,14107,141
22,02 02 06 2,Łagiewniki,12475,125
23,02 02 07 3,Niemcza,7187,72
24,02 02 07 4,Niemcza - miasto,1981,20
25,02 02 07 5,Niemcza - obszar wiejski,5206,52
26,02 03,Powiat głogowski,44326,443
27,02 03 01 1,Głogów,3512,35
28,02 03 02 2,Głogów,8479,85
29,02 03 03 2,Jerzmanowa,6332,63
30,02 03 04 2,Kotla,12752,128
31,02 03 05 2,Pęcław,6427,64
32,02 03 06 2,Żukowice,6824,68
33,02 04,Powiat górowski,73825,738
34,02 04 01 3,Góra,26601,266
35,02 04 01 4,Góra - miasto,1365,14

In [17]:
#we can see that the shorter TERYT code, the more general region, so lets identify first the biggest regions ie. voivodeships

In [18]:
voivo = df_area[df_area['TERYT'].str.len() == 2]

In [19]:
voivo

2,TERYT,Nazwa jednostki,Powierzchnia [ha]\n2024,Powierzchnia [km2]\n2024
3,00,POLSKA,31393361,313933
4,02,WOJ. DOLNOŚLĄSKIE,1994704,19947
320,04,WOJ. KUJAWSKO-POMORSKIE,1797155,17971
566,06,WOJ. LUBELSKIE,2512243,25122
872,08,WOJ. LUBUSKIE,1398772,13988
1039,10,WOJ. ŁÓDZKIE,1821898,18219
1330,12,WOJ. MAŁOPOLSKIE,1518359,15184
1639,14,WOJ. MAZOWIECKIE,3555871,35559
2164,16,WOJ. OPOLSKIE,941160,9411
2316,18,WOJ. PODKARPACKIE,1784537,17845
2578,20,WOJ. PODLASKIE,2018685,20187
2768,22,WOJ. POMORSKIE,1954681,19547
2952,24,WOJ. ŚLĄSKIE,1233407,12334
3206,26,WOJ. ŚWIĘTOKRZYSKIE,1170878,11709
3413,28,WOJ. WARMIŃSKO-MAZURSKIE,2417371,24174
3619,30,WOJ. WIELKOPOLSKIE,2982675,29827
4081,32,WOJ. ZACHODNIOPOMORSKIE,2290965,22909

In [20]:
#now let's calculate basic statistics in each of the voivodeship

In [21]:
start = voivo.index[1]
for i in voivo.index[2:]:
    temp = df_area.iloc[start + 1 : i - 3].copy()
    print(df_area.loc[start]['Nazwa jednostki'], '\n', temp['Powierzchnia [ha]\n2024'].agg(['min', 'max', 'mean', 'std']))
    start = i

WOJ. DOLNOŚLĄSKIE
 min        176.000000
max     164344.000000
mean     15169.996795
std      20196.926718
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. KUJAWSKO-POMORSKIE
 min        178.000000
max     147421.000000
mean     17401.714876
std      24813.616325
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. LUBELSKIE
 min        160.000000
max     188090.000000
mean     17188.026490
std      28298.846815
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. LUBUSKIE
 min        155.000000
max     139281.000000
mean     20795.251534
std      27742.305334
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. ŁÓDZKIE
 min        162.000000
max     149088.000000
mean     14285.783972
std      21711.122874
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. MAŁOPOLSKIE
 min        297.000000
max     154990.000000
mean     11395.662295
std      19705.614671
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. MAZOWIECKIE
 min        284.000000
max     209355.000000
mean     15495.149712
std      25010.238722
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. OPOLSKIE
 min        325.000000
max     153415.000000
mean     15647.533784
std      21350.869351
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. PODKARPACKIE
 min        238.000000
max     130830.000000
mean     15247.306202
std      21709.697926
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. PODLASKIE
 min        215.000000
max     297656.000000
mean     23465.500000
std      36874.142042
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. POMORSKIE
 min        363.000000
max     230090.000000
mean     22609.766667
std      31143.142414
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. ŚLĄSKIE
 min        311.000000
max     152184.000000
mean     10744.692000
std      16973.459914
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. ŚWIĘTOKRZYSKIE
 min        192.000000
max     224597.000000
mean     13954.635468
std      22976.741065
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. WARMIŃSKO-MAZURSKIE
 min        216.000000
max     283807.000000
mean     27844.970297
std      36716.213992
Name: Powierzchnia [ha]\n2024, dtype: float64
WOJ. WIELKOPOLSKIE
 min         99.000000
max     189992.000000
mean     16315.185590
std      24332.298477
Name: Powierzchnia [ha]\n2024, dtype: float64

In [22]:
df_area.iloc[df_area['Powierzchnia [ha]\n2024'].idxmin()] #smallest region

2
TERYT                       30 07 11 2
Nazwa jednostki               Żelazków
Powierzchnia [ha]\n2024          11365
Powierzchnia [km2]\n2024           114
Name: 3724, dtype: object

In [23]:
df_shops = pd.read_csv('raport_zezwoleń.csv')

In [24]:
df_shops.head()

,Numer zezwolenia,Nazwa firmy,Kod pocztowy,Miejscowość,Adres,Województwo,Data ważności
0,394/23,AMKA Spółka z ograniczoną odpowiedzialnością,02-972,Warszawa,Aleja Rzeczypospolitej 18/83,WOJ. MAZOWIECKIE,2025-02-28
1,404/23,WORMAR K Spółka z ograniczoną odpowiedzialnością,83-300,Kartuzy,ul. Zamkowa 23,WOJ. POMORSKIE,2025-03-03
2,407/23,RAFAŁ DZILIŃSKI,06-400,Ciechanów,ul. Leśna 52,WOJ. MAZOWIECKIE,2025-02-21
3,5/W/24,ALKOSWIAT Spółka z ograniczoną odpowiedzialnością,43-300,Bielsko-Biała,ul. Wincentego Witosa 170,WOJ. ŚLĄSKIE,2025-03-30
4,6/W/24,Matyl Fenikost Aleksadra Matyl-Stawowy,34-212,Bieńkówka,Bienkówka 454,WOJ. MAŁOPOLSKIE,2025-04-20

In [25]:
#here we can't present many statistics, so will only present how many selling concessions are in each city

In [26]:
df_shops['Miejscowość'].value_counts()

Miejscowość
Warszawa     77
Kraków       13
Poznań       12
Łódź         10
Wrocław       7
             ..
Rakszawa      1
Parczew       1
Siedlęcin     1
Koszalin      1
Wolkowo       1
Name: count, Length: 221, dtype: int64

In [130]:
file = 'pl_lud_2024_00_11_k2.xlsx'

In [131]:
sheet_names = pd.ExcelFile(file).sheet_names #the file contains 16 sheets, each for one voivodeship

In [166]:
popul_dict = {} #we will collect here

In [167]:
for sheet in sheet_names:
    df_temp = pd.read_excel(file, sheet_name = sheet)
    df = df_temp.iloc[7:].copy()
    val = []
    idx = []
    for i in range(1, df.shape[0]):
        idx.append(df.iloc[i].iloc[0])
        val.append(df.iloc[i].iloc[2])
    popul_dict[sheet] = pd.Series(val, index=idx)

In [168]:
for tab in series_dict:
    print(popul_dict[tab].index[0], '\n', series_dict[tab][1:].agg(['min', 'max', 'mean', 'std']), '\n')

Dolnośląskie
 min      1507.000000
max     44486.000000
mean     7033.507463
std      5674.590809
dtype: float64

Kujawsko-pomorskie
 min      1122.000000
max     26354.000000
mean     6579.409449
std      4014.167921
dtype: float64

Lubelskie
 min      1479.000000
max     24002.000000
mean     5579.222798
std      3459.608911
dtype: float64

Lubuskie
 min      1029.000000
max     12522.000000
mean     4789.958904
std      2414.579187
dtype: float64

Łódzkie
 min       814.000000
max     16416.000000
mean     5624.918239
std      2810.514670
dtype: float64

Małopolskie
 min      1435.000000
max     41374.000000
mean    10649.851190
std      6282.812561
dtype: float64

Mazowieckie
 min       836.000000
max     45942.000000
mean     6947.258065
std      5216.713961
dtype: float64

Opolskie
 min      1291.000000
max     13056.000000
mean     6475.911765
std      2492.544098
dtype: float64

Podkarpackie
 min      1680.000000
max     25661.000000
mean     8461.194444
std      4347.557617
dtype: float64

Podlaskie
 min       561.000000
max     18633.000000
mean     4242.323810
std      2774.426547
dtype: float64

Pomorskie
 min       365.000000
max     44854.000000
mean     8833.732673
std      7589.284183
dtype: float64

Śląskie
 min      2213.000000
max     27814.000000
mean     8852.313559
std      4645.676964
dtype: float64

Świętokrzyskie
 min      1670.000000
max     16298.000000
mean     6574.030928
std      3572.246610
dtype: float64

Warmińsko-mazurskie
 min      1047.000000
max     15921.000000
mean     5574.210000
std      3100.280493
dtype: float64

Wielkopolskie
 min      1976.000000
max     36919.000000
mean     7911.024155
std      5700.574533
dtype: float64

Zachodniopomorskie
 min       473.000000
max     30549.000000
mean     5106.686275
std      3883.705638
dtype: float64

In [170]:
from scipy.stats import pearsonr #Calculating corrolations